
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
  --Cyan: hsl(179, 62%, 43%);
--brightYellow: hsl(71, 73%, 54%);

--LightGray:hsl(204, 43%, 93%);
--GrayishBlue: hsl(218, 22%, 67%);
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}

body{
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  background-color: var(--LightGray);
  display: flex;
  align-items: center;
  justify-content: center;
}
section{
  width: 800px;
  margin: 0 auto;
 background-color:#fff ;
 border-radius: 10px;
 box-shadow: 6px 10px 10px 6px hsl(218, 22%, 67%,.2);
}
.box{
 padding: 42px;
}
.box h3{
  color:var(--Cyan);
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  font-size: 28px;
  margin-bottom: 30px;
}

.box p{
  color: var(--GrayishBlue);
    font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  line-height: 30px;
}

.box h4{
  color: var(--brightYellow);
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  margin-bottom: 15px;
  font-size: 20px;
}
.flex{
  display: flex;
  flex-direction: row;
 
}
.card-1{
  width: 50%;
  background-color: var(--Cyan);
  padding: 42px;
  border-radius: 0 0 0 10px;

}
.card-1 h2{
color: var(--LightGray);
margin-bottom: 20px;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.dollr{
  display: flex;
column-gap: 10px;
align-items: center;
}
.mony{
  font-size: 32px;
  color: var(--LightGray);
    font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  margin-bottom: 8px;

}

.mony_ditle{
  color:hsl(204, 43%, 93%,.6);
    font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
}
.card_last{
  color:var(--LightGray);
    font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  margin-bottom:15px;
}
.card-1 button{
  background-color: var(--brightYellow);
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 5cqw 10px 10px hsl(218, 22%, 67%.1);
}



.card-2{
  width: 50%;
  background-color:hsl(179, 47%, 52%);
  padding: 42px;
   border-radius: 0 0 10px 0;
}
.card-2 h3{
  color: var(--LightGray);
  margin-bottom: 20px;
}

.card-2 ul{
  color: hsl(204, 43%, 93%,.8);
  line-height: 23px;
    font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight:400
  
}
@media screen and (max-width:700px){
 body{
  display: flex;
  align-items: flex-start;
 }
  section{
    max-width: 375px;
    
  }
  .flex{
    width: 100%;
  display: flex;
  flex-direction: column;
 
}
.card-1{
  width: 100%;
  background-color: var(--Cyan);
  padding: 42px;
  border-radius:0;
  
}
.card-2{
  width: 100%;
  background-color:hsl(179, 47%, 52%);
  padding: 42px;
    border-radius:0 0 10px 10px;
 
}
}